*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-color: #ECFAFB;
  width: 100%;
  height: 200px;

}
.fotologo{
  background-image: url(boolean.png);
  background-size: cover;
  border:10px solid #ECFAFB;
  width: 20%;
  height: 200px;
  float:left;

}
header .brand{
  width: 75%;
  height:200px;
  padding-top: 20px;
  font-size: 60px;
  color: 	#81CBC8;
  text-align: center;
  margin-left: 50px;
  float:left;
}
header .stella>img{
  width: 200px;
}

.clear{
  clear: both;
}

.container {

  width: 100%;
  height: 100px;

  }
  .container *{
    width: calc(100%/6);
    height: 100%;
    text-align: center;
    float: left;
    padding-top: 0;
    color: #00BBF0;

  }


  .secondocontainer{
    width: 100%;
    height: 600px;
    background-image: url(MILANO.JPG);
    box-sizing: cover;
  }
.menu-element *{
  width: 100%;
  height: 100px;
  padding-top:48px;
  text-decoration: none ;

}
@media screen and (max-width: 480px){
  background-color: #ECFAFB;{
  width: auto;
  height: 200px;
}
  .fotologo{
    background-image: url(BOOLEAN.png);
    background-size: cover;
    border:10px solid #ECFAFB;
    width: 100%;
    height: 200px;

  }
  header .stella>img{
    width: 200px;
  }
  header .brand{
    width: 100%;
    height:200px;
    padding-top: 10px;
    font-size: 30px;
    color: 	#81CBC8;
    text-align: center;
    margin-left: 10px;
    float:left;
  }

.container *{
  background-color: #81CBC8;
  border-bottom: 1px solid white;
  color: WHITE;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.menu-element *{
  width: 100%;
  height: 100%;
}
}
